* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav a {
    margin: auto;
    font-size: 22px;
}

h1 { 
    font-size: 100px;
    color: blueviolet;
    margin: 0;
    padding: 0;
}